 @media screen and (max-width:1024px) {
*{
   font-size: calc(1vw + 1vh + .5vmin);
  font-family: 'Chewy', cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
    }  
 }

.introduction{
    background-image: url("../Delani/assets/backgrounds/h_img.jpg");
     background-size: cover; 
    background-position: center;
    padding: 50px 50px;
    scroll-behavior: smooth;
    text-align: center;
    color: white;
    background-repeat: no-repeat;
}
.introduction h1{
    padding: 2px;
    margin: 5px;
  }
.introduction p{
    padding: 2px;
  }
.Dlogo{
    margin-top: 12px;
    margin-bottom: 24px;
    width: 70px;
    height: 70px;;
}
#mouseClick{
    padding-top : 22px;
    margin-top: 10%;
    padding-bottom: 20px;
}
.aboutUs{
    text-align: center;
    padding: 50px 50px;
    
}
#services{
    text-align: center;
    background-image: url("../Delani/assets/backgrounds/s_image.jpg");
    padding: 50px 50px;
    color: white;
    background-size: cover;
    /* padding-top: 10%;
    padding-bottom: 5%; */
}
#whatWeDo{
    text-align: center;
}
#portfolio{
    text-align: center;
    
}
#contactUs{
    text-align: center;
    background-image: url("../Delani/assets/backgrounds/c_image.jpg");
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
    margin-top: 20px;
}
input[type=text],input[type=email],#comment{
    background: transparent;
    color: white;
    font-size: 20px;


}
button{
    display: flex;
}
#design {
    display: none;
}
#development {
    display: none;
}
#product-mgt {
    display: none;
}
.footer{
text-align: center;
padding: 20px;
}
.footer h5{
    padding: 10px;
}
.col-md-3{
    position: relative;
    width: 50%;
}
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .image-text {
    /* background-color: ; */
    color: white;
    font-size: 16px;
    padding: 100px 50px;
    font-weight: bold;
  }
@media screen and (max-width:600px) {
#contactForm{
    width: 100%;
    margin-top: 10px;
} 
body{
    overflow-x: hidden;
}
}





